<?xml version='1.0' standalone='yes' ?>
<LVData xmlns="http://www.ni.com/LVData">
<Version>22.3.1f8</Version>
<Cluster>
<Name>Settings in</Name>
<NumElts>3</NumElts>
<Cluster>
<Name>Logging Configuration</Name>
<NumElts>19</NumElts>
<Path>
<Name>Log File Base Path</Name>
<Val>C:\Users\LAV-UFSC-2023\Documents\LAV-TCC\Dados-Experimentos\Dados-Bancada-LABVIEW\experimento.tdms</Val>
</Path>
<U32>
<Name>Samples to Save</Name>
<Val>10000</Val>
</U32>
<DBL>
<Name>Acquisition Sample Rate</Name>
<Val>0.00000000000000</Val>
</DBL>
<U32>
<Name>SamplesPerChannel</Name>
<Val>0</Val>
</U32>
<U32>
<Name>FFT - Block Size</Name>
<Val>100</Val>
</U32>
<I32>
<Name>FFT - NumberOfAverages</Name>
<Val>5</Val>
</I32>
<I32>
<Name>Trigger - Time</Name>
<Val>0</Val>
</I32>
<DBL>
<Name>Trigger - Threshold</Name>
<Val>0.50000000000000</Val>
</DBL>
<I32>
<Name>Trigger - Channel</Name>
<Val>0</Val>
</I32>
<Boolean>
<Name>Enable Start Output Trigger</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>Enable Time Trigger</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>Enable Threshold Trigger</Name>
<Val>1</Val>
</Boolean>
<Boolean>
<Name>HasBeenTriggeredAlready</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>Always Log</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>Enable Filter</Name>
<Val>0</Val>
</Boolean>
<Cluster>
<Name>FilesRefs</Name>
<NumElts>3</NumElts>
<Refnum>
<Name>TimeDomainTDMSRef</Name>
<RefKind>TDMS File</RefKind>
<Val>0x00000000</Val>
</Refnum>
<Refnum>
<Name>FreuencyDomainTDMSRef</Name>
<RefKind>TDMS File</RefKind>
<Val>0x00000000</Val>
</Refnum>
<Refnum>
<Name>TXT-FileRef</Name>
<RefKind>Byte Stream File</RefKind>
<Val>0x00000000</Val>
</Refnum>
</Cluster>
<EW>
<Name>OutputFileFormat</Name>
<Choice>TXT</Choice>
<Choice>TDMS</Choice>
<Val>0</Val>
</EW>
<I32>
<Name>ActualBlockSize</Name>
<Val>0</Val>
</I32>
<Timestamp>
<Name>Start Time</Name>
<Cluster>
<Name></Name>
<NumElts>4</NumElts>
<I32>
<Name></Name>
<Val>0</Val>
</I32>
<I32>
<Name></Name>
<Val>0</Val>
</I32>
<I32>
<Name></Name>
<Val>0</Val>
</I32>
<I32>
<Name></Name>
<Val>0</Val>
</I32>
</Cluster>
</Timestamp>
</Cluster>
<Cluster>
<Name>Hardware Configuration</Name>
<NumElts>9</NumElts>
<Boolean>
<Name>Accel-ai0</Name>
<Val>1</Val>
</Boolean>
<DBL>
<Name>Maximum Input</Name>
<Val>10.00000000000000</Val>
</DBL>
<DBL>
<Name>Minimum Input</Name>
<Val>-10.00000000000000</Val>
</DBL>
<DBL>
<Name>HW Sample Rate</Name>
<Val>1000.00000000000000</Val>
</DBL>
<DBL>
<Name>SW Sample Rate</Name>
<Val>500.00000000000000</Val>
</DBL>
<I32>
<Name>Number of Samples</Name>
<Val>10</Val>
</I32>
<Boolean>
<Name>Accel-ai1</Name>
<Val>1</Val>
</Boolean>
<Refnum>
<Name>DAQmx Task</Name>
<RefKind>Generic Tag</RefKind>
<RefType>NIDAQ</RefType>
<Val></Val>
</Refnum>
<Cluster>
<Name>Low Pass Filter</Name>
<NumElts>3</NumElts>
<DBL>
<Name>Upper Cutoff</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>Lower Cutoff</Name>
<Val>0.00000000000000</Val>
</DBL>
<I32>
<Name>Order</Name>
<Val>0</Val>
</I32>
</Cluster>
</Cluster>
<Cluster>
<Name>Output Hardware Configuration</Name>
<NumElts>4</NumElts>
<U32>
<Name>Task ID</Name>
<Val>0</Val>
</U32>
<DBL>
<Name>Volume</Name>
<Val>100.00000000000000</Val>
</DBL>
<Cluster>
<Name>Data</Name>
<NumElts>3</NumElts>
<EW>
<Name>SignalType</Name>
<Choice>WhiteNoise</Choice>
<Choice>SineWave</Choice>
<Val>0</Val>
</EW>
<Cluster>
<Name>WhiteNoiseSettings</Name>
<NumElts>4</NumElts>
<Boolean>
<Name>Generate New Data</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>Save</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>Filter</Name>
<Val>0</Val>
</Boolean>
<I32>
<Name>Gain</Name>
<Val>1</Val>
</I32>
</Cluster>
<Cluster>
<Name>SineWaveSttings</Name>
<NumElts>2</NumElts>
<DBL>
<Name>Frequency</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>Amplitude</Name>
<Val>0.00000000000000</Val>
</DBL>
</Cluster>
</Cluster>
<DBLWaveform>
<Name>Generated Data</Name>
<Cluster>
<Name></Name>
<NumElts>5</NumElts>
<Timestamp>
<Name>t0</Name>
<Cluster>
<Name></Name>
<NumElts>4</NumElts>
<I32>
<Name></Name>
<Val>0</Val>
</I32>
<I32>
<Name></Name>
<Val>0</Val>
</I32>
<I32>
<Name></Name>
<Val>0</Val>
</I32>
<I32>
<Name></Name>
<Val>0</Val>
</I32>
</Cluster>
</Timestamp>
<DBL>
<Name>dt</Name>
<Val>1.00000000000000</Val>
</DBL>
<Array>
<Name>Y</Name>
<Dimsize>0</Dimsize>
<DBL>
<Name></Name>
<Val></Val>
</DBL>
</Array>
<Cluster>
<Name>error</Name>
<NumElts>3</NumElts>
<Boolean>
<Name>status</Name>
<Val>0</Val>
</Boolean>
<I32>
<Name>code</Name>
<Val>0</Val>
</I32>
<String>
<Name>source</Name>
<Val></Val>
</String>
</Cluster>
<LvVariant>
<Name>attributes</Name>
</LvVariant>
</Cluster>
</DBLWaveform>
</Cluster>
</Cluster>
</LVData>